<form #newProductForm="ngForm" (ngSubmit)="createProduct()">
    <div>
        <h2>Create product</h2>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" id="name" [(ngModel)]="product.name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" name="description" id="description" [(ngModel)]="product.description" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" id="price" [(ngModel)]="product.price" required>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!newProductForm.valid">add</button>
    <button mat-stroked-button color="primary" (click)="cancel()">cancel</button>
</form>



