<form #userForm="ngForm" (ngSubmit)="editUser()">
    <div>
        <h2>Edit user</h2>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" id="name" [(ngModel)]="user.name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput type="text" name="surname" id="surname" [(ngModel)]="user.surname" required>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!userForm.valid">edit</button>
    <button mat-stroked-button color="primary" (click)="cancel()">cancel</button>
</form>